
@section title {
    Accueil
}
<h1>Index</h1>

<div class="banner">
    <div class="white-container">
        <div class="container">
            <div class="flex-container">
                <div class="logo">
                    <img src="~/media/logo.svg" />
                </div>
                <div class="present">
                    <h2>Trululu</h2>
                    <p class="small-text">Et ton talent devient ton emplois</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="stats">
    <div class="container">
        <div class="flex-stats">
            <div class="stat">
                <div class="number">
                    0
                </div>
                <p>comptes</p>
            </div>
            <div class="stat">
                <div class="number">
                    0
                </div>
                <p>castings</p>
            </div>
            <div class="stat">
                <div class="number">
                    0
                </div>
                <p>entreprises</p>
            </div>
        </div>
    </div>
</div>

<h3>Nos derniers castings</h3>
<div class="container">
    <div class="flex-stats">
        <div class="box">
            <div class="name-box">
                <strong>Koh Lanta</strong>
            </div>
            <div class="name-ent">
                <br />
            </div>
            <div class="present">
                Des candidats échouent sur une île déserte pour y survivre dans les conditions de rescapés. Séparés en deux équipes, et pourvus du minimum vital, ils devront cohabiter pour assurer leur survie mais aussi triompher des épreuves.
            </div>
            <div class="flex-container footer-box">
                <span>18 / 11 / 2019</span>
                <a href="#">En savoir plus</a>
            </div>
        </div>
        <div class="box">
            <div class="name-box">
                <strong>Photos de mode</strong>
            </div>
            <div class="name-ent">
                <br />
            </div>
            <div class="present">
                La photographie de mode désigne un genre de la photographie consacré aux vêtements et aux styles vestimentaires, parfois composés de pièces de haute couture, portées par des mannequins et réalisé par des photographes de mode
            </div>
            <div class="flex-container footer-box">
                <span>18 / 11 / 2019</span>
                <a href="#">En savoir plus</a>
            </div>
        </div>
        <div class="box">
            <div class="name-box">
                <strong>Des Chiffres et des Lettres</strong>
            </div>
            <div class="name-ent">
                <br />
            </div>
            <div class="present">
                Jeu reposant sur les compétences en calcul et sur la connaissance du vocabulaire des candidats. Apparu le 19 septembre 1965, c'est le plus ancien jeu télévisé quotidien toujours diffusé de la télévision française.
            </div>
            <div class="flex-container footer-box">
                <span>18 / 11 / 2019</span>
                <a href="#">En savoir plus</a>
            </div>
        </div>
    </div>
</div>