@section title {
    Accueil
}

<<<<<<< HEAD
<div class="banner">
    <div class="white-container">
        <div class="container">
            <div class="flex-container">
                <div class="logo">
                    <img src="~/media/logo.svg"/>
                </div>
                <div class="present">
                    <h2>Trululu</h2>
                    <p class="small-text">Et ton talent devient ton emplois</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="stats">
    <div class="container">
        <div class="flex-stats">
            <div class="stat">
                <div class="number">
                    0
                </div>
                <p>comptes</p>
            </div>
            <div class="stat">
                <div class="number">
                    0
                </div>
                <p>castings</p>
            </div>
            <div class="stat">
                <div class="number">
                    0
                </div>
                <p>entreprises</p>
            </div>
        </div> 
    </div>
</div>

<h3>Nos derniers castings</h3>
<div class="container">
    <div class="flex-stats">
        <div class="box">
            <div class="name-box">
                TEST1
            </div>
            <div class="name-ent">
                <span>Entreprise</span>
            </div>
            <div class="present">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus viverra ligula, sed porttitor metus tempus ut. Proin lobortis quis ex ac luctus. Vivamus eu blandit risus. Suspendisse suscipit purus quis tellus eleifend consequat. In sagittis sapien augue, euismod lacinia ligula iaculis at. Etiam non metus quis ipsum cursus viverra vel at enim. Suspendisse id urna tortor. Cras eu quam vel orci consequat elementum.
            </div>
            <div class="flex-container footer-box">
                <span>18 / 11 / 2019</span>
                <a href="#">En savoir plus</a>
            </div>
        </div>
        <div class="box">
            <div class="name-box">
                TEST2
            </div>
            <div class="name-ent">
                <span>Entreprise</span>
            </div>
            <div class="present">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus viverra ligula, sed porttitor metus tempus ut. Proin lobortis quis ex ac luctus. Vivamus eu blandit risus. Suspendisse suscipit purus quis tellus eleifend consequat. In sagittis sapien augue, euismod lacinia ligula iaculis at. Etiam non metus quis ipsum cursus viverra vel at enim. Suspendisse id urna tortor. Cras eu quam vel orci consequat elementum.
            </div>
            <div class="flex-container footer-box">
                <span>18 / 11 / 2019</span>
                <a href="#">En savoir plus</a>
            </div>
        </div>
        <div class="box">
            <div class="name-box">
                TEST3
            </div>
            <div class="name-ent">
                <span>Entreprise</span>
            </div>
            <div class="present">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus viverra ligula, sed porttitor metus tempus ut. Proin lobortis quis ex ac luctus. Vivamus eu blandit risus. Suspendisse suscipit purus quis tellus eleifend consequat. In sagittis sapien augue, euismod lacinia ligula iaculis at. Etiam non metus quis ipsum cursus viverra vel at enim. Suspendisse id urna tortor. Cras eu quam vel orci consequat elementum.
            </div>
            <div class="flex-container footer-box">
                <span>18 / 11 / 2019</span>
                <a href="#">En savoir plus</a>
            </div>
        </div>
    </div>
</div>
=======

@section styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="container">
    <div class="row">
       
    </div>
</div>
>>>>>>> develop
